@using HRMS.BusinessEntities;
@using HRMS.Models;
@using GridMvc.Html
@using HRMS.Utils;

@model List<User>

@Html.TemplateGrid(Html.Grid(Model).Columns(columns =>
{
    columns.Add(item => item.Id).Css("hidden");
    columns.Add(item => item.Name).AddEditLink(column => @<a href='/User/Edit/@column.Id'><span>@column.Name</span></a>);
    columns.Add(item => item.Group.Name).Titled("Group Name").Sortable(true).Filterable(true);
}), "User")