@using HRMS.BusinessEntities;
@using HRMS.Models;
@using GridMvc.Html
@using HRMS.Utils;

@model ModelContainer<PinCode>

@Html.TemplateGrid(Html.Grid(Model.ListOfItems).Columns(columns =>
    {
        columns.Add(item => item.Id).Css("hidden");
        columns.Add(item => item.Code).AddEditLink(column => @<a href='/PinCode/Edit/@column.Id'><span>@column.Code</span></a>);
        columns.Add(item => item.Area).Sortable(true).Filterable(true);
    }), Model.Name)
