@using HRMS.BusinessEntities;
@using HRMS.Models;
@using GridMvc.Html
@using HRMS.Utils;

@model ModelContainer<Group>

@Html.TemplateGrid(Html.Grid(Model.ListOfItems).Columns(columns =>
{
    columns.Add(item => item.Id).Css("hidden");
    columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).RenderValueAs(o => @<a href='/Group/Edit/@o.Id'><span>@o.Name</span></a>);
}), Model.Name)
