@using Hrms.BusinessEntities;
@using Hrms.Models;
@using GridMvc.Html
@using Hrms.Utilities;

@model List<Group>

@Html.TemplateGrid(Html.Grid(Model).Columns(columns =>
{
    columns.Add(item => item.Id).Css("hidden");
    columns.Add(item => item.Name).AddEditLink(column => @<a href='/Group/Edit/@column.Id'><span>@column.Name</span></a>);
}), "Group")