<div class="jumbotron">
    <h1>HR Management System!</h1>
    <p>Hello World! Here we come with loads of energy to develop enterprise software affordable to every enterprise one to million employees ...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>